#div_ref{
    position: relative;
    width: 620px;
    left: calc((100% - 620px)/2);
    /*border: 1px solid red;*/
    border-radius: 0px 0px 6px 6px;
    float:left;
}
#div_ref_usu{
    position: relative;
    width: 100%;
    top: 20px;
    /*border: 1px solid red;*/
}
#div_ref_aux_usu{
    position: relative;
    width: 580px;
    top: 0px;
    left: calc((100% - 580px)/2);
    border: 1px solid #d8d8d8;
    border-radius: 6px 6px 6px 6px;

}
#div_ref_aux{
    position: relative;
    width: 49%;
    /*border: 1px solid red;*/
    border-radius: 0px 0px 6px 6px;
    float: left;
    left: 2%;
}
#ifr_ref,
#ifr_ref_aux{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}
#ifr_visita{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}